{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<div class="dashboard-container"  style="max-width: 900px; width: 100%; margin: 0 auto; padding: 20px;" >
    <h2>Farmer Dashboard</h2>
    <p>Welcome, {{ request.user.username }}!</p>

    <div class="dashboard-links">
        <a href="{% url 'submit_query' %}">Submit New Query</a>
        <a href="{% url 'view_queries' %}">View Previous Queries</a>
        <a href="{% url 'knowledge_base' %}">Knowledge Base</a>
        <a href="{% url 'logout' %}">Logout</a>
        <a href="/profile/">Edit Profile</a>
    </div>
</div>
<!--  Weather Search -->
<form method="GET" style="margin:20px 0; display:flex; gap:10px;">
    <input 
        type="text" 
        name="city" 
        placeholder="Enter city (e.g. Lucknow)" 
        value="{{ city }}"
        style="padding:8px; border-radius:6px; border:1px solid #ccc; width:250px;"
        required
    >
    <button style="padding:8px 15px; background:#2e7d32; color:white; border:none; border-radius:6px;">
        🔍 Get Weather
    </button>
</form>
{% if weather %}

<div class="weather-card">
    
    <h3> Weather in {{ weather.city }}</h3>

    <img src="https://openweathermap.org/img/wn/{{ weather.icon }}@2x.png">

    <p><strong>Temperature:</strong> {{ weather.temperature }} °C</p>
    <p><strong>Humidity:</strong> {{ weather.humidity }}%</p>
    <p><strong>Condition:</strong> {{ weather.description }}</p>
    <p><strong>Wind Speed:</strong> {{ weather.wind }} m/s</p>
    <p><strong>Pressure:</strong> {{ weather.pressure }} hPa</p>
</div>
{% endif %}
{% if advisory %}
<div class="advisory-box">
    <h4>Farming Advisory</h4>
    <p>{{ advisory }}</p>
</div>
{% endif %}




<div style="display:flex; gap:20px; margin-top:20px; width:100%;">

    <!-- Crop Recommendation Card -->
    <a href="{% url 'crop_recommendation' %}" style="text-decoration:none; flex:1; min-width:300px;">
        <div style="
           width:100%;
            min-height:180px;
            padding:25px;
            background:#e8f5e9;
            border-radius:12px;
            text-align:center;
            box-shadow:0 4px 10px rgba(0,0,0,0.1);
            transition:0.3s;
            box-sizing:border-box;
        " 
        onmouseover="this.style.transform='scale(1.03)'"
        onmouseout="this.style.transform='scale(1)'">

            <h3> Crop Recommendation</h3>
            <p style="font-size:14px; color:#555;">
                Get best crop based on soil & weather
            </p>

        </div>
    </a>

    <!-- Government Schemes Card -->
    <a href="{% url 'schemes' %}" style="text-decoration:none; flex:1; min-width:300px;">
        <div style="
           width:100%;
            min-height:180px;
            padding:25px;
            background:#e8f5e9;
            border-radius:12px;
            text-align:center;
            box-shadow:0 4px 10px rgba(0,0,0,0.1);
            transition:0.3s;
            box-sizing:border-box;
        "
        onmouseover="this.style.transform='scale(1.03)'"
        onmouseout="this.style.transform='scale(1)'">

            <h3>Government Schemes</h3>
            <p style="font-size:14px; color:#555;">
                Explore govt schemes & benefits
            </p>

        </div>
    </a>

</div>
<div class="dashboard-cards">

    <!-- Soil Analysis Card -->
    <a href="{% url 'soil_analysis' %}" class="dashboard-card" style="text-decoration:none; flex:1; min-width:300px;">
        <div style="
           width:100%;
            min-height:180px;
            padding:25px;
            background:#e8f5e9;
            border-radius:12px;
            text-align:center;
            box-shadow:0 4px 10px rgba(0,0,0,0.1);
            transition:0.3s;
            box-sizing:border-box;
        " 
        onmouseover="this.style.transform='scale(1.03)'"
        onmouseout="this.style.transform='scale(1)'">
        
            <h2>Soil Analysis</h2>
            <p>Analyze soil health & get fertilizer suggestions</p>
        </div>

    </a>

    <!-- FAQ Card -->
    <a href="{% url 'faq' %}" class="dashboard-card" style="text-decoration:none; flex:1; min-width:300px;">
        <div style="
            width:100%;
            min-height:180px;
            padding:25px;
            background:#e8f5e9;
            border-radius:12px;
            text-align:center;
            box-shadow:0 4px 10px rgba(0,0,0,0.1);
            transition:0.3s;
            box-sizing:border-box;;
        " 
        onmouseover="this.style.transform='scale(1.03)'"
        onmouseout="this.style.transform='scale(1)'">
        
            <h2>FAQ Support</h2>
            <p>Get answers to common farming questions</p>
        </div>

    </a>

</div>
<div class="market-section">

<h3>Latest Mandi Prices</h3>
<input
    type="text"
    id="cropSearch"
    placeholder="Search Crop..."
    onkeyup="filterData()"
>

<select id="stateFilter" onchange="filterData()">
<option value="">All States</option>
<option value="Gujarat">Gujarat</option>
<option value="Uttarakhand">Uttarakhand</option>
<option value="Tamil Nadu">Tamil Nadu</option>
<option value="Kerala">Kerala</option>
<option value="Odisha">Odisha</option>
<option value="Himachal Pradesh">Himachal Pradesh</option>
</select>

<table id="marketTable">

<thead>
<tr>
<th>Commodity</th>
<th>Market</th>
<th>State</th>
<th>Min Price</th>
<th>Max Price</th>
<th>Modal Price</th>
</tr>
</thead>

<tbody>

</tbody>

</table>

</div>


<script src="{% static 'js/market.js' %}"></script>
{% endblock %}
