{% extends 'core/base.html' %}
{% load static %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        <p style="color: green;">{{ message }}</p>
    {% endfor %}
{% endif %}
<div class="dashboard-container">
    <h2>Farmer Dashboard</h2>
    <p>Welcome, {{ request.user.username }}!</p>

    <div class="dashboard-links">
        <a href="{% url 'submit_query' %}">Submit New Query</a>
        <a href="{% url 'view_queries' %}">View Previous Queries</a>
        <a href="{% url 'knowledge_base' %}">Knowledge Base</a>
        <a href="{% url 'logout' %}">Logout</a>
    </div>
</div>
{% if weather %}
<div class="weather-card">
    <h3>Weather in {{ weather.city }}</h3>

    <img src="https://openweathermap.org/img/wn/{{ weather.icon }}@2x.png">

    <p><strong>Temperature:</strong> {{ weather.temperature }} °C</p>
    <p><strong>Humidity:</strong> {{ weather.humidity }}%</p>
    <p><strong>Condition:</strong> {{ weather.description }}</p>
</div>
{% endif %}
{% if advisory %}
<div class="advisory-box">
    <h4>🌾 Farming Advisory</h4>
    <p>{{ advisory }}</p>
</div>
{% endif %}
<a href="{% url 'crop_recommendation' %}">Crop Recommendation</a>
<a href="{% url 'schemes' %}">Government Schemes</a>
<div class="market-section">

<h3>🌾 Latest Mandi Prices</h3>
<input type="text" id="cropSearch" placeholder="Search Crop..." onkeyup="filterData()">

<select id="stateFilter" onchange="filterData()">
<option value="">All States</option>
<option value="Gujarat">Gujarat</option>
<option value="Uttarakhand">Uttarakhand</option>
<option value="Tamil Nadu">Tamil Nadu</option>
<option value="Kerala">Kerala</option>
<option value="Odisha">Odisha</option>
<option value="Himachal Pradesh">Himachal Pradesh</option>
</select>

<table id="marketTable">

<thead>
<tr>
<th>Commodity</th>
<th>Market</th>
<th>State</th>
<th>Min Price</th>
<th>Max Price</th>
<th>Modal Price</th>
</tr>
</thead>

<tbody>

</tbody>

</table>

</div>

<script src="{% static 'js/market.js' %}"></script>
{% endblock %}
